@import "normalize";
@import "variable";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    margin:0;
    border:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f8f8;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: $firsfont;
}

#head{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.5)), url(../img/back.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .headmenu{
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 70px;
        position: relative;
        .logo{
            margin-top: 15px;
            margin-left: 15%;
            img{
                width: auto;
                height: 80px;
            }
        }
        .menu{
            display: flex;
            align-items: center;
            margin-top: 25px;
            .download{
                color: white;
                padding: 20px;
                background-color: rgba(87, 87, 216, 0.712);
                border: 1px solid rgba(25, 15, 110, 0.664);
                border-radius: 15px;
                white-space: nowrap;
                &:hover{
                    color: rgba(87, 87, 216, 0.712);
                    background-color:transparent;
                    transition: 600ms;
                }
            }
            .menulist{
                display: flex;
                align-items: center;
                margin-right: 50px;
                a{
                    color: white;
                    padding: 20px;
                    .menuitem{
                        padding: 15px;
                        padding-right: 0;
                        border-left: 1px solid grey;
                        &:hover{
                            border-bottom: 1px solid grey;
                            transition: 600ms;
                        }
                    }
                }
            }
        }
    }
    .line{
        position: absolute;
        top: 90px;
        width: 100%;
        height: 1px;
        background-color: rgb(80, 77, 77);
    }
    .hello{
        width: 100%;
        height: 80vh;
        position: relative;
        .hellotext{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            h1{
                font-size: 50px;
                line-height: 20px;
                letter-spacing: 10px;
                margin-bottom: 30px;
                margin-left: 20px;
            }
            h3{
                font-size: 25px;
                margin-top: 35px;
                margin-bottom: 50px;
                font-family: $secondaryfont;
                span{
                    color: rgb(17, 17, 148);
                }
            }
            a{
                color: white;
                word-spacing: 8px;
                background-color: rgb(134, 80, 116);
                padding: 20px 10px 20px 45px;
                text-align: center;
                position: relative;
                border-radius: 20px;
                .far{
                    position: absolute;
                    left: 15px;
                    top: 22px;
                    font-size: 20px;
                }
                
            }
        }
    }
}
.container{
    width: 100%;
    max-width: 1140px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}
.scontrol{
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider span{
    text-indent: -9999px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.our-service{
    background-color: #f8f8f8;
    height: 120vh;
    padding-bottom: 100px;
}
.our-service-text{
    text-align: center;
    width: 100%;
    margin: 70px auto;
    h2{
        padding-top: 25px;
        font-size: 30px;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }
    .our-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:20px;
        .left-hr{
            width:60px;
            height:1px;
            background-color: dimgray;
        }
        a{
            padding:10px 20px 10px 20px;
            i{
                font-size: 25px;
                color: dimgray;
            }
        }
        .right-hr{
            width:60px;
            height:1px;
            background-color: dimgray;
        }
    }
    p{
        font-family: $secondaryfont;
        font-size: 16px;
        line-height: 30px;
        width: 60%;
        margin: 0 auto;
    }
}
.our-card{
    width: 100%;
    display: flex;
    justify-content: center;
    .card1{
        width: 25%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        padding: 30px;
        margin-left: 20px;    
        h3{
            font-size: 25px;
            margin:15px 0px;
            font-family: $secondaryfont;
        }
        p{
            font-family: $secondaryfont;      
        }
        .social-card{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            .social-card-items{
                font-size:25px;
                margin: 5px;
                a{
                    padding: 15px;
                    i{
                        color: grey;
                    }
                    .fa-facebook{
                        &:hover{
                            color: #4267B2;
                        }
                    }
                    .fa-linkedin{
                        &:hover{
                        color: #0072b1;
                        }
                    }
                    .fa-github{
                        &:hover{
                            color:#6e5494;
                        }
                    }
                }
            }            
        }
        .card-image{
            width: 150px;
            height: 180px;
            img{
                border-radius: 15px;
            }
        }
        transition: all 1s;
        &:hover{
            top: 15px;
            background-color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
    }   
}
.content{
    background-color: rgb(194, 181, 181);
    width: 100%;
    height: 1000px;
    padding: 30px;
    .content-info{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40%;
        .info-box{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
            margin-top: 150px;
            width: 25%;
            height: 450px;
            position: relative;
            h3{
                font-family: $secondaryfont;
                font-size: 25px;
                line-height: 40px;
                letter-spacing: 2px;
                padding: 40px 40px 10px 40px;
            }
            span{
                font-size: 25px;
                padding-bottom:15px;
            }
            p{
                font-family: $secondaryfont;
                padding-bottom: 25px;
            }
            .info-box-img{
                width: 100%;
                height: 220px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .btn{
                color: white;
                width: 80px;
                padding:20px;
                word-spacing: 8px;
                background-color: rgb(134, 80, 116);
                text-align: center;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 20px;
                display: none;
                margin-bottom: 15px;
            }
            &:hover .btn{
                display: block;
            }
            }
      }
}
.jobs{
    width: 100%;
    height: 1000px;
    .our-service-text{
        margin-bottom: 130px;
    }
    .hexa-item-1{
        display:flex;
        justify-content: center;
        width: 100%;
        margin-top: -50px;
    }
    .hexa-center{
        display:flex;
        justify-content: center;
        width: 100%;
        margin-top: -55px;
        
    }
    .hexa-item{
        width: 250px;
        height: 290px;
        overflow: hidden;
        margin-left:20px;
        clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        }
    .hexa-item-2{
        display: flex;
        width: 75%;
        justify-content: center;
    }      
}
.middle{
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(../img/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .middle-content{
        text-align: center;
        margin-top: -20px;
        h2{
            font-size: 40px;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
        button{
            width: 120px;
            height: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;
            background: linear-gradient(rgba(0,0,0,.2),rgba(0, 0, 0, 0.7)), rgb(189, 89, 159);
            border-radius: 15px;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            &:hover{
                color: white;
                transition: 600ms all ease;
                border: .3px solid white;
            }
            span{
                font-family: $secondaryfont;
                font-weight: 100;
                font-size: 20px;
            }
        }
    }
}